@use '../abstracts/' as *;

.project {
    @include flex(column, flex-start, flex-start, 2rem);
}

.project-title {
    font-size: $size-project-heading;
    font-weight: $weight-700;
    text-transform: capitalize;
}