.overview-layer {
    z-index: 100;
    background: rgb(186, 243, 139);
    width: 400px;
    height: 100px;
    left: calc(50vw - 200px);
    top: calc(50vh - 50px);
}

.quick-nav {
    display: flex;
    gap: 1rem;
}