@use '../../abstracts/' as *;

.sidebar-layer {
    position: fixed;
    top: $menu-overlay-height;
    z-index: 10;
    background: rgb(65, 203, 238);
    width: 300px;
    height: calc(100vh - $menu-overlay-height);
}