@use '../abstracts/' as a;

.section {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.section-heading {
    font-size: a.$size-big-heading;
    font-weight: a.$weight-100;
    text-transform: capitalize;
}

.section-body {
    display: grid;
    gap: 2rem;
}